{% extends "_layout.jinja2" %}
{% block content %}
<form action="{{ action }}" method="post">
  <fieldset>
    <legend>Informations</legend>
    <label for="login">Login:</label> <input type="text" name="login" id="login"
        value="{{ login }}" />
    <label for="password1">Password:</label> <input type="password" name="password1" id="password1" />
    <label for="password2">Password (verification):</label> <input type="password" name="password2" id="password2" />
    <label for="email">Email:</label> <input type="email" placeholder="me@example.com" name="email" id="email"
        value="{{ email }}" />
  </fieldset>
  <div class="btn">
    <a href="{{ url_for("index") }}">Cancel</a>
    <input type="submit" name="register" value={% if person %}"Update my account!"{% else %}"Register now!"{% endif %} />
  </div>
</form>
{% endblock content %}
