{# {% extends "_layout.jinja2" %} #}
{% block connect %}
{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}
 
<h2>Account - {{ person.login }}</h2>

<form action="{{ url_for('account') }}" method="post">
<dl>
  <dt>Password:
  <dd><input type=password name=password1 value={{ person.password }}>
  <dt>Password:
  <dd><input type=password name=password2 value={{ person.password }}>
  <dt>Email:
  <dd><input type=text name=email value={{ person.email }}>
  <dd><input type=submit value=Update your account>
</dl>
</form>

{% endblock connect %}
