{% extends "_layout.jinja2" %}
{% block content %}
<form action="{{ url_for("connect") }}" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="login">Login:</label> <input type="text" name="login" id="login" />
    <label for="password">Password:</label> <input type="password" name="password" id="password" />
  </fieldset>
  <div class="btn">
    <a href="{{ url_for("register") }}">Register now</a>
    <input type="submit" name="connect" value="Connect" />
    <a href="{{ url_for("forgotten_password_get") }}">Forgotten password?</a>
  </div>
</form>
{% endblock content %}
