{% extends "_layout.jinja2" %}
{% block content %}
<form action="{{ url_for("delete_snippet_post", snippet_id=snip_id) }}" method="post">
  <fieldset>
    <legend>Confirmation</legend>
    <p>You really want to delete "<em>{{ snip_title }}</em>" ?</p>
  </fieldset>
  <div class="btn">
    <a href="{{ url_for("view_snippet", snippet_id=snip_id) }}">No, it's a mistake!</a>
    <input type="submit" name="submite" value="Yes, delete it!" />
  </div>
</form>
{% endblock content %}
