{% extends "_layout.jinja2" %}
{% block content %}
<form action="{{ url_for("forgotten_password_post") }}" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="login">Login:</label> <input type="text" name="login" id="login" />
    <label for="email">Email:</label> <input type="email" placeholder="me@example.com" name="email" id="email" />
  </fieldset>
  <div class="btn">
    <a href="{{ url_for("index") }}">Cancel</a>
    <input type="submit" name="connect" value="Send" />
  </div>
</form>
{% endblock content %}
