{% extends "_layout.jinja2" %}
{% block content %}
<form action="{{ url_for("forgotten_password_post") }}" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="login">Login:</label> <input type="text" name="login" id="login" />
  </fieldset>
  <div class="btn">
    <input type="submit" name="connect" value="Send" />
  </div>
</form>
{% endblock content %}
