{% extends "_layout.jinja2" %}
{% block content %}
<h3>About PastaBin</h3>
<p>PastaBin is a free web application allowing users to upload sources codes.</p>
<p>Everybody can add snippets. To use all functionalities of PastaBin,
<a href="{{ url_for("register") }}">Register now</a>. It's simple, fast and free.</p>
<p>With your free account, you can modify and delete your snippets.</p>
<p>Have fun with PastaBin !</p>
<h3>Last snippets</h3>
<ul class="index">
{% for snippet in snippets %}
<li><a href="{{ url_for("get_snippet_by_id", snippet_id=snippet.id)}}" >{{ snippet.title |check_title}} <span>(posted by {{ snippet.person.login | snip_user }}, on {{ snippet.date | date_format }})</span></a></li>
{% endfor %}
</ul>
{% endblock content %}
