{% extends "_layout.jinja2" %}
{% block content %}
{% if snippets %}
<ul>
  {% for snippet in snippets %}
  <li><a href="{{ url_for("view_snippet", snippet_id=snippet.id) }}">{{ snippet.title or 'Unnamed snippet' }} (posted on {{ snippet.date | date_format }})</a></li>
  {% endfor %}
</ul>
{% else %}
  <p class="warning">You have no snippets !</p>
{% endif %}
{% endblock content %}
