{% extends "_layout.jinja2" %}


{% block content %}
<h4>Les plus récents</h4>
<ul class="snippet">
{% for %}
  <li>
    <a href="/snippet/{{ snippet.title }}">{{ snippet.title }}</a>
  </li>
{% endfor %}
</ul>

{% endblock content %}
