{% extends "_layout.jinja2" %}
{% block content %}
<ul>
  <li class="modify"><a href="{{ url_for("modify_snippet_get", id=snippet.id) }}">Modify</a></li>
  <li class="delete"><a href="{{ url_for("delete_snippet_get", id=snippet.id) }}">Delete</a></li> <!-- FIXME -->
</ul>

<p>By [LOGIN] on {{ snippet.date }}</p>
<code>
  <pre>{{ snippet.text }}
  </pre>
</code>

<ul>
  <li class="modify"><a href="{{ url_for("modify_snippet_get", id=snippet.id) }}">Modify</a></li>
  <li class="delete"><a href="{{ url_for("delete_snippet_get", id=snippet.id) }}">Delete</a></li> <!-- FIXME -->
</ul>
{% endblock content %}
