{# extends "_layout.jinja2" #}

{% block content %}
<!--
<h2>{{ snippet.title }}</h2>
<code>
<pre>{{ snippet.text }}
</pre>
</code>

<ul>
  <li>
      <a href="{{url_for("", snippet_id = snippet.id)}}">Modifier</a>
  </li>

  hello
{% endblock content %}
